<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script src="index.js" type="text/javascript"></script>
		<link href="../css/myStyle.css" rel="stylesheet" />
		<link href="../css/icons-extra.css" rel="stylesheet" />
		<style>
		
       .row{
		   width:100%;
		   background-color: #fff;
		   border-bottom: 1px solid #f2f2f2;
		   display: flex;
		   height:3rem;
		   padding-left:1rem;
		   line-height:3rem;
	   }
	   
	   .row div{
		   width:7rem;
	   }
	   input{
		   border:0;
		   
	   }
			
		</style>
	</head>
	<body>
		<div id="cnt" style="opacity: 0;">
			<Navs titl="编辑地址"></Navs>

			<div>
				<div class='row'>
					<div>收货人名称</div> <input v-model="item.name" />
				</div>
				<div class='row'>
					<div>电话号码</div> <input v-model="item.name" />
				</div>
				<div class='row'>
					<div>选择地区</div> <input readonly="readonly" style="width:61%;" /><div class="mui-icon mui-icon-arrowright" style="color: rgb(204, 204, 204);font-size: 1rem;font-weight: 600;width: 1rem;line-height: 3rem;"></div>
				</div>
				<div class='row'>
					<div>详细地址</div>  <input v-model="item.name" />
				</div>

				<div class='row' style="margin-top:.5rem;">
					<div class="mui-input-row mui-checkbox" style="width:2.9rem;margin-top:0.8rem">
						<input name="checkbox1" style="top:-2px;" type="checkbox" @change="selAll" v-model="isSelAll">
						<label style="padding:0">&nbsp;</label>
					</div>
					<div>设为默认</div> 
				</div>
			</div>


			<div class='footer'>

				<div class="mui-btn btn" style="width:100%;margin:auto;" @touchstart="del">保存</div>
			</div>


		</div>
	</body>
</html>

<script>
	var app;

	function initData() {

		let list = [];

		for (var i = 0; i < 3; i++) {
			let item = {};
			item.id = i;
			item.img = 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3750666341,463573211&fm=26&gp=0.jpg';

			if (i % 2 == 0) {
				item.img = 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4090761004,2650025905&fm=26&gp=0.jpg'
			}
			item.title = '【暖心助农 免疫力卫士】 四川安岳黄柠檬大果...';
			item.price = '9.99';
			item.oPrice = '19.99';
			item.num = 1;
			item.ge = "5斤装";
			item.sel = false;
			list.push(item)
		}

		app = new Vue({
			el: '#cnt',
			data: {
				item: {
					total: 22.00,
					username: '小黄',
					phone: '1239423423',
					address: '湖南省长沙市大理区小猪悬12区02号',
				},

				isMove: false,
				list: list,
				isSelAll: false,
				total: 0.00,
				isEdit: false,
			},
			mounted() {
				this.search();
				document.getElementById("cnt").style.opacity = 1;
			},
			methods: {
				goHome() {
					location.href = "index.html"
				},
				gotome() {
					location.href = 'personal.html'
				},
				gotoDetail(item) {
					if (this.isMove) return
					location.href = "product.html?id=" + item.id;
				},
				moveHandel() {
					this.isMove = true;
					let that = this
					setTimeout(() => {
						that.isMove = false
					}, 1000)
				},
				submit() {
					var pars = [];
					this.list.map(item => {
						if (item.sel) {
							pars.push(item)
						}
					})
					console.log(pars)
				},
				del() {
					let lt = [];
					this.list.map(item => {
						if (item.sel) {

						} else {
							lt.push(item)
						}
					})
					this.list = lt;
					this.list.sort();
					this.culTotal();
				},
				subtra(item) {
					item.num--;
					item.num = item.num <= 0 ? 1 : item.num;
					this.culTotal()
				},
				add(item) {
					item.num++;
					this.culTotal()
				},
				culTotal() {
					this.total = 0.00;
					this.list.map(item => {
						if (item.sel) {
							this.total += (item.num * item.price)
						}
					})
					this.total = this.total.toFixed(2)

				},
				selAll() {
					if (this.isSelAll) {
						this.list.map(item => {
							item.sel = true;
						});
					} else {
						this.list.map(item => {
							item.sel = false;
						});
					}
					this.list.sort();
					this.culTotal();
					this.$forceUpdate();
				},
				selOne() {
					let that = this;
					setTimeout(() => {
						that.total = 0;
						let isAll = true;
						that.list.map(item => {
							if (!item.sel) {
								isAll = false;
							}
						})
						that.isSelAll = isAll;
						this.culTotal();
						that.list.sort();
						that.$forceUpdate();

					}, 200)

				},
				search() {



				},
				goDetail(item) {
					debugger;
				}
			}
		})



	}
</script>
