<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script src="index.js" type="text/javascript"></script>
		<link href="../css/myStyle.css" rel="stylesheet" />
		<link href="../css/icons-extra.css" rel="stylesheet" />
		<link href="../css/swiper.min.css" rel="stylesheet" />
		<style>
			.top {
				height: 10rem;
				padding-top: 1rem;
				background-color: #ef5d62;
				background-image: -webkit-linear-gradient(left, #ff2c1e, #ff2d1f);
				background-image: linear-gradient(to bottom, #ff2c1e, #ff2d1f);
				border-bottom-left-radius: 20%;
				border-bottom-right-radius: 20%;
			}

			img {
				width: 100%;
				height: 9rem;
				border-radius: 5px;
			}

			.cata {
				font-size: 1.2rem;
				color: #F3F3F3;
				margin-left: 0.5rem;
				display: inline-block;
			}

			.acte {
				font-size: 1.3rem;
				color: #fff;
				padding-bottom: 0.5rem;
				border-bottom: 2px solid #fff;
				font-weight: bolder;
			}
			
		</style>
	</head>
	<body>
		<div id="cnt" style="opacity:0;padding-top:0">

			<div class="top">
				<div style="float:left;background-color: #fff;width:70%;height:2rem;border-radius: 2rem;padding-top:0.2rem;padding-left:0.5rem;color:#ccc;margin-left: 2.5%;">
					<div class="mui-icon mui-icon-search" style="color:#d64c50;font-weight: 600;margin-right:0.5rem;"></div>搜索商品
				</div>
				<div style="color:#fff;text-align: center;width:3rem;float:right;padding-right:2.5%;">
					<div class="mui-icon-extra mui-icon-extra-class" style="font-size:1.2rem;"></div>
					<div style="font-size:0.5rem;margin-top:-0.3rem;">分类</div>
				</div>

				<div style="width:95%;overflow-x: scroll;white-space: nowrap;height:3rem;margin:auto;margin-top:1rem;padding-top:0.5rem;">
					<div v-for="(ct,idx) in cat" :class="idx==sel?'cata acte':'cata'">
						{{ct.name}}
					</div>
				</div>
			</div>




			<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="margin-top:7rem;background-color: #00000000;" @touchmove="moveHandel">

				<div class="mui-scroll" >

					<div class="swiper-container" style="width:95%;margin:auto;height:9rem;border-radius: 5px;">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="igs in item.imgs"><img :src="igs"></div>

						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						
					</div>




					<div class='list' style="background-color: #fff;width:100%;padding:2.5%">
						<Items v-for="item in list" :tap="goDetail" :item="item"></Items>
					</div>
					<template v-if="list.length==0">
						<div class=" mui-block mui-visibility">
							<div class="mui-pull">
								<div class="mui-pull-loading mui-icon mui-spinner mui-hidden"></div>
								<div class="mui-pull-caption mui-pull-caption-nomore">没有更多数据了</div>
							</div>
						</div>
					</template>

				</div>
			</div>


			<div class="footer" style="z-index:999999;">
				<div style="width:100%;display:flex;flex-direction: row;justify-content: space-around;">
					<div class="bar baractive">
						<div class='mui-icon mui-icon-home-filled'></div>
						<div>首页</div>
					</div>
					<div class="bar" @touchend="gotobag">
						<div class='mui-icon-extra mui-icon-extra-cart'></div>
						<div>购物袋</div>
					</div>
					<div class="bar" @touchend="gotome">
						<div class="mui-icon mui-icon-contact"></div>
						<div>我的</div>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>

<script>
	var app;
	var slider;

	function initData() {

		let list = [];

		for (var i = 0; i < 10; i++) {
			let item = {};
			item.id = i;
			item.img = 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3750666341,463573211&fm=26&gp=0.jpg';

			if (i % 2 == 0) {
				item.img = 'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4090761004,2650025905&fm=26&gp=0.jpg'
			}
			item.title = '【暖心助农 免疫力卫士】 四川安岳黄柠檬大果...';
			item.price = '9.99';
			item.oPrice = '19.99';
			list.push(item)
		}

		app = new Vue({
			el: '#cnt',
			data: {
				sel: 0,
				cat: [{
					id: 0,
					name: '全部'
				}, {
					id: 0,
					name: '生鲜水果'
				}, {
					id: 0,
					name: '服饰搭配'
				}, {
					id: 0,
					name: '家具家电'
				}, {
					id: 0,
					name: '居家百货'
				}, {
					id: 0,
					name: '母婴专区'
				}, {
					id: 0,
					name: '美酒美吃'
				}],
				item: {
					imgs: [
						'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4090761004,2650025905&fm=26&gp=0.jpg',
						'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3750666341,463573211&fm=26&gp=0.jpg',
						'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3750666341,463573211&fm=26&gp=0.jpg',
						'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4090761004,2650025905&fm=26&gp=0.jpg'
					],
				},
				list: list,
				currentPage: 1,
				isMove: false
			},
			updated() {
				
			},
			mounted() {
				mui.init({
					pullRefresh: {
						container: '#pullrefresh',
						down: {
							style: 'circle',
							callback: pulldownRefresh
						},
						up: {
							auto: false,
							contentrefresh: '正在加载...',
							callback: pullupRefresh
						}
					},
					swipeBack: true //启用右滑关闭功能
				});



				document.getElementById("cnt").style.opacity = 1;


				this.search();
				var swiper = new Swiper('.swiper-container', {
					pagination: {
						el: '.swiper-pagination',
						type: 'fraction',
					},
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},
				});
			},
			methods: {
				search() {

					if (this.currentPage != 1 && 10 == this.list.length) {
						console.log("没数据了")
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);

					} else {
						//mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
						//mui('#pullrefresh').pullRefresh().endPulldownToRefresh();

						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);

					}
					if (this.currentPage == 1) {
						mui('#pullrefresh').pullRefresh().refresh(true);
					}
					if (this.currentPage == 1 && 10 <= 10) {
						console.log("没数据了")
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					}
					this.isMove = false
				},
				moveHandel() {
					this.isMove = true;
					let that = this
					setTimeout(() => {
						that.isMove = false
					}, 1000)
				},
				gotobag() {
					location.href = "bag.html"
				},
				gotome() {
					location.href = 'personal.html'
				},
				goDetail(item) {
					if (this.isMove) return
					location.href = "product.html?id=" + item.id;
				}
			}
		})



	}

	function pulldownRefresh() {
		setTimeout(function() {
			app.$data.currentPage = 1;
			app.search();
			console.log("=====================下拉刷新数据=============")
			//mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
		}, 1500);

	}

	function pullupRefresh() {
		setTimeout(function() {
			console.log("=================上啦拉去数据==================")
			//mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
			app.$data.currentPage = app.$data.currentPage + 1;
			app.search();
		}, 1500);

	}
</script>
